.container-blue {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 2px 14px 43px 0px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 2px 14px 43px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 14px 43px 0px rgba(0, 0, 0, 0.6);
    margin-top: 20px;
}

.profile-image {
    max-width: 150px;
    border: 2px solid gainsboro;
    border-radius: 50%;
    max-height: 150px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr td {
    padding: 15px 10px;
    border: 0.5px solid gainsboro;
}