<mat-card class="container-blue animate__animated animate__bounceInDown">
    <h1>Perfil</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img src="../../../assets/149071.png" alt="" class="profile-image">
                    <h1 style="margin-top: 20px;">Simón Cherry</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Usuario</td>
                                <td>saimonch16</td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>13002</td>
                            </tr>
                            <tr>
                                <td>Teléfono</td>
                                <td>3416009068</td>
                            </tr>
                            <tr>
                                <td>Rol</td>
                                <td>ADMIN</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>Activo</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <mat-card-actions class="text-center">
            <button mat-raised-button color="primary" class="mx-auto">Actualizar</button>
            <button mat-raised-button color="accent" class="mx-auto">Compartir</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>