<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-10 offset-md-1">
                <div class="container-blue animate__animated animate__bounceInDown">
                    <div class="container text-center" style="margin-bottom: 20px;">
                        <h1>Bienvenido al portal de TestToDay</h1>
                        <h4>Aquí podrás realizar tests diarios todos los dias propuestos por la comunidad,
                            subir tus
                            propios tests y
                            compartir el resultado con tus amigos</h4>
                        <button class="mt-3" mat-raised-button color="primary">Inicio</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>