<mat-card class="container-side animate__animated animate__bounceInLeft">
    <mat-action-list>
        <div mat-subheader>Menú</div>
        <button mat-list-item routerLink="/admin"> <mat-icon matListItemIcon>home</mat-icon>Inicio</button>
        <button mat-list-item routerLink="/admin/profile"> <mat-icon matListItemIcon>person</mat-icon>Perfil</button>
        <button mat-list-item routerLink=""> <mat-icon matListItemIcon>quiz</mat-icon>Tests</button>
        <button mat-list-item routerLink=""> <mat-icon matListItemIcon>upload_file</mat-icon>Subir</button>
    </mat-action-list>
</mat-card>