.container-side {
    border-radius: 20px;
    box-shadow: 2px 14px 43px 0px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 2px 14px 43px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 14px 43px 0px rgba(0, 0, 0, 0.6);
    margin-top: 20px;
}