html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    /*background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 100, 29, 1) 66%, rgba(69, 199, 252, 1) 100%);*/
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}